{% extends 'base.html' %} {% load static %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos</title>

    <link rel="stylesheet" href="{% static 'css/pedidos.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src="{% static 'js/pedidos.js' %}"></script>
  </head>
  <body class="ethnic">
    <main>
      <section class="box">
        <div class="one">



          {% if template == "cliente" %}
          <span class="menu-text">Pedidos</span>
          <div class="list-group menu-index">
              <button type="button" id="btn_home" data-url="{% url 'home' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_home()" aria-current="true">
                Inicio
              </button>
              <button type="button" id="btn_producto" data-url="{% url 'productos:index' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_producto()">Todos los productos</button>
              <button type="button" id="btn_alimento" data-url="{% url 'productos:index' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_alimento()">Alimentos</button>
              <button type="button" id="btn_kit" data-url="{% url 'productos:index' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_kit()">Kits de comida</button>
              <button type="button" id="btn_ingrediente" data-url="{% url 'productos:index' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_ingrediente()">Ingredientes</button>
              <button type="button" id="btn_carrito" data-url="{% url 'carrito:index' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_cart()">Carrito</button>
              <button type="button" id="btn_direcciones" data-url="{% url 'usuarios:direccion' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_direcciones()">Direcciones</button>
              <button type="button" id="btn_pedidos" class="list-group-item list-group-item-action product-category-button">Pedidos</button>
            </div>
            {% else %}

          <span class="menu-text">Panel de Vendedor</span>
         
          <div class="list-group menu-index">
            <button type="button" id="btn_vendedor_home" data-url="{% url 'usuarios:vendedorHome' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_vendedor_home()">Inventario</button>
            <button type="button" id="btn_crear_producto" data-url="{% url 'productos:crear' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_crear_productos()">Agregar nuevo producto</button>
            <button type="button" id="btn_pedidos" class="list-group-item list-group-item-action product-category-button">Pedidos</button>
          </div>
          {% endif %}

        </div>
        <div class="two">
          {% if template == "cliente" %}
          <h2>Hola Cliente</h2>
          {% if lista_pedidos %}
          <h4 class="pedidostext">Pedidos del {{template}}</h4>
          {% for pedido in lista_pedidos %}
          <div class="card mb-3" style="max-width: 100%">
            <div class="row g-0">
              <div class="col-md-4 imgpedidocontainer">
                <img
                  src="{{ pedido.productos.0.idProducto.imagen}}"
                  id="imgpedido"
                  class="img-fluid rounded-start"
                  alt="{{producto.idProducto.nombre}}"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body" id="cardtext">
                  <h5 class="card-title">
                    Número de pedido {{pedido.idPedido.id}}
                  </h5>
                  {% for producto in pedido.productos %}
                  <div class="pdata">
                    <p class="card-text">{{producto.idProducto.nombre}} de <strong>{{producto.idProducto.idVendedor.username}}</strong></p>
                    <p class="textcantidad">
                      Cantidad: {{producto.cantidad}} x
                      ${{producto.idProducto.precio|floatformat:2}}
                    </p>
                  </div>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                  {% endfor %}
                  <p>Fecha: {{pedido.idPedido.fecha}}</p>
                  <h5>Total: ${{pedido.total|floatformat:2}}</h5>
                  <h5>
                    Dirección:
                    {{pedido.idPedido.idCliente.idDireccion.nombreCompleto}}
                    {{pedido.idPedido.idCliente.idDireccion.calle}}
                    {{pedido.idPedido.idCliente.idDireccion.numeroExterior}}
                    {{pedido.idPedido.idCliente.idDireccion.colonia}}
                    {{pedido.idPedido.idCliente.idDireccion.codigoPostal}}
                    {{pedido.idPedido.idCliente.idDireccion.ciudad}}
                    {{pedido.idPedido.idCliente.idDireccion.estado}}
                    {{pedido.idPedido.idCliente.idDireccion.telefono}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <h2>{{error}}</h2>
          {% endif %} {% else %}
          <h2>Hola vendedor</h2>
          {% if lista_pedidos_vendedor %}
          <h4 class="pedidostext">Pedidos del {{template}}</h4>
          {% for pedido in lista_pedidos_vendedor %}
          <div class="card mb-3" style="max-width: 100%">
            <div class="row g-0">
              <div class="col-md-4 imgpedidocontainer">
                <img
                  src="{{ pedido.productos.0.idProducto.imagen}}"
                  id="imgpedido"
                  class="img-fluid rounded-start"
                  alt="{{producto.idProducto.nombre}}"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body" id="cardtext">
                  <h5 class="card-title">
                    Número de pedido {{pedido.idPedido.id}}
                  </h5>
                  {% for producto in pedido.productos %}
                  <div class="pdata">
                    <p class="card-text">{{producto.idProducto.nombre}}</p>
                    <p class="textcantidad">
                      Cantidad: {{producto.cantidad}} x
                      ${{producto.idProducto.precio|floatformat:2}}
                    </p>
                  </div>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                  {% endfor %}
                  <p>Fecha: {{pedido.idPedido.fecha}}</p>
                  <h5>Total: ${{pedido.total|floatformat:2}}</h5>
                  <h5>
                    Dirección:
                    {{pedido.idPedido.idCliente.idDireccion.nombreCompleto}}
                    {{pedido.idPedido.idCliente.idDireccion.calle}}
                    {{pedido.idPedido.idCliente.idDireccion.numeroExterior}}
                    {{pedido.idPedido.idCliente.idDireccion.colonia}}
                    {{pedido.idPedido.idCliente.idDireccion.codigoPostal}}
                    {{pedido.idPedido.idCliente.idDireccion.ciudad}}
                    {{pedido.idPedido.idCliente.idDireccion.estado}}
                    {{pedido.idPedido.idCliente.idDireccion.telefono}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <h2>{{error}}</h2>
          {% endif %} {% endif %}
        </div>
      </section>
    </main>
  </body>
</html>

{% endblock %}
