.box {
  display: flex;
  margin-top: 2em;
  color: white;
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: center;
  }

  
.one {
  flex: 0 auto;
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
  background-color: #c72546;
  text-align: center;  
}
  
.two {
  flex: 1;
  padding: 1em;
  margin-right: 1em;
  background-color: #c72546;

}

.ethnic{
  background-color: #FFFCF1;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

#btnregistrar{
  background-color: #7A8C51;
  border-color: #7A8C51;
}

#cardtext{
  color: black;
}

.textcantidad{
  background-color: #7A8C51;
  padding: 4px 6px;
  max-width: max-content;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}

.pdata{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#imgpedido{
  height: 100%;
  object-fit: cover;
}

.imgpedidocontainer{
  min-height: 100%;
}

.pedidostext{
  margin-bottom: 1rem;
}

.product-category-button{
  background-color: transparent;
  color:white;
  text-align: left;
}

.menu-products{
  margin-top: 1em;
}

.menu-text{
  font-weight: bolder;
}

.ethnic{
  background-color: #d5ca98;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.menu-index{
  margin-top: 1em;
}