# Archivos generados localmente
__pycache__/
*.pyc

# Configuración local o secretos
.env
*.pyc

# Archivos de base de datos específicos de MySQL
db.sqlite3
*.sql
*.frm
*.MYD
*.MYI
*.ibd
pagos/__pycache__/__init__.cpython-311.pyc
pagos/__pycache__/admin.cpython-311.pyc
pagos/__pycache__/apps.cpython-311.pyc
pagos/__pycache__/models.cpython-311.pyc
pagos/migrations/__pycache__/__init__.cpython-311.pyc
pagos/migrations/__pycache__/0001_initial.cpython-311.pyc
pagos/migrations/__pycache__/0002_initial.cpython-311.pyc
pagos/migrations/__pycache__/0003_metododepago_nombre.cpython-311.pyc
pedidos/__pycache__/__init__.cpython-311.pyc
pedidos/__pycache__/admin.cpython-311.pyc
pedidos/__pycache__/apps.cpython-311.pyc
pedidos/__pycache__/models.cpython-311.pyc
pedidos/migrations/__pycache__/__init__.cpython-311.pyc
pedidos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/__pycache__/models.cpython-311.pyc
ethnicBites/__pycache__/__init__.cpython-311.pyc
ethnicBites/__pycache__/settings.cpython-311.pyc
ethnicBites/__pycache__/urls.cpython-311.pyc
ethnicBites/__pycache__/wsgi.cpython-311.pyc
usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/__pycache__/admin.cpython-311.pyc
usuarios/__pycache__/apps.cpython-311.pyc
usuarios/__pycache__/forms.cpython-311.pyc
usuarios/__pycache__/models.cpython-311.pyc
usuarios/__pycache__/urls.cpython-311.pyc
usuarios/__pycache__/views.cpython-311.pyc
usuarios/migrations/__pycache__/__init__.cpython-311.pyc
usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
usuarios/migrations/__pycache__/0002_direccion_customuser_iddireccion.cpython-311.pyc
usuarios/migrations/__pycache__/0003_direccion_calle_direccion_ciudad_and_more.cpython-311.pyc
usuarios/migrations/__pycache__/0004_alter_direccion_codigopostal_and_more.cpython-311.pyc
carrito/__pycache__/__init__.cpython-311.pyc
carrito/__pycache__/admin.cpython-311.pyc
carrito/__pycache__/apps.cpython-311.pyc
carrito/__pycache__/models.cpython-311.pyc
carrito/migrations/__pycache__/__init__.cpython-311.pyc
carrito/migrations/__pycache__/0001_initial.cpython-311.pyc
categorias/__pycache__/__init__.cpython-311.pyc
categorias/__pycache__/admin.cpython-311.pyc
categorias/__pycache__/apps.cpython-311.pyc
categorias/__pycache__/models.cpython-311.pyc
categorias/migrations/__pycache__/__init__.cpython-311.pyc
categorias/migrations/__pycache__/0001_initial.cpython-311.pyc
ethnicBites/__pycache__/__init__.cpython-311.pyc
ethnicBites/__pycache__/settings.cpython-311.pyc
ethnicBites/__pycache__/urls.cpython-311.pyc
ethnicBites/__pycache__/wsgi.cpython-311.pyc
pagos/__pycache__/__init__.cpython-311.pyc
pagos/__pycache__/admin.cpython-311.pyc
pagos/__pycache__/apps.cpython-311.pyc
pagos/__pycache__/models.cpython-311.pyc
pagos/migrations/__pycache__/__init__.cpython-311.pyc
pagos/migrations/__pycache__/0001_initial.cpython-311.pyc
pagos/migrations/__pycache__/0002_initial.cpython-311.pyc
pagos/migrations/__pycache__/0003_metododepago_nombre.cpython-311.pyc
pedidos/__pycache__/__init__.cpython-311.pyc
pedidos/__pycache__/admin.cpython-311.pyc
pedidos/__pycache__/apps.cpython-311.pyc
pedidos/__pycache__/models.cpython-311.pyc
pedidos/migrations/__pycache__/__init__.cpython-311.pyc
pedidos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/__pycache__/models.cpython-311.pyc
productos/migrations/__pycache__/__init__.cpython-311.pyc
productos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/migrations/__pycache__/0002_alter_producto_stock.cpython-311.pyc
productos/migrations/__pycache__/0003_producto_imagen.cpython-311.pyc
usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/__pycache__/admin.cpython-311.pyc
usuarios/__pycache__/apps.cpython-311.pyc
usuarios/__pycache__/forms.cpython-311.pyc
usuarios/__pycache__/models.cpython-311.pyc
usuarios/__pycache__/urls.cpython-311.pyc
usuarios/__pycache__/views.cpython-311.pyc
usuarios/migrations/__pycache__/__init__.cpython-311.pyc
usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
usuarios/migrations/__pycache__/0002_direccion_customuser_iddireccion.cpython-311.pyc
usuarios/migrations/__pycache__/0003_direccion_calle_direccion_ciudad_and_more.cpython-311.pyc
usuarios/migrations/__pycache__/0004_alter_direccion_codigopostal_and_more.cpython-311.pyc
usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/__pycache__/admin.cpython-311.pyc
usuarios/__pycache__/apps.cpython-311.pyc
usuarios/__pycache__/forms.cpython-311.pyc
usuarios/__pycache__/models.cpython-311.pyc
usuarios/__pycache__/urls.cpython-311.pyc
usuarios/__pycache__/views.cpython-311.pyc
usuarios/migrations/__pycache__/__init__.cpython-311.pyc
usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
usuarios/migrations/__pycache__/0002_direccion_customuser_iddireccion.cpython-311.pyc
usuarios/migrations/__pycache__/0003_direccion_calle_direccion_ciudad_and_more.cpython-311.pyc
usuarios/migrations/__pycache__/0004_alter_direccion_codigopostal_and_more.cpython-311.pyc
productos/__pycache__/models.cpython-311.pyc
productos/migrations/__pycache__/__init__.cpython-311.pyc
productos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/migrations/__pycache__/0002_alter_producto_stock.cpython-311.pyc
productos/migrations/__pycache__/0003_producto_imagen.cpython-311.pyc
pedidos/__pycache__/__init__.cpython-311.pyc
pedidos/__pycache__/admin.cpython-311.pyc
pedidos/__pycache__/apps.cpython-311.pyc
pedidos/__pycache__/models.cpython-311.pyc
pedidos/migrations/__pycache__/__init__.cpython-311.pyc
pedidos/migrations/__pycache__/0001_initial.cpython-311.pyc
carrito/__pycache__/__init__.cpython-311.pyc
carrito/__pycache__/admin.cpython-311.pyc
carrito/__pycache__/apps.cpython-311.pyc
carrito/__pycache__/models.cpython-311.pyc
carrito/migrations/__pycache__/__init__.cpython-311.pyc
carrito/migrations/__pycache__/0001_initial.cpython-311.pyc
categorias/__pycache__/__init__.cpython-311.pyc
categorias/__pycache__/admin.cpython-311.pyc
categorias/__pycache__/apps.cpython-311.pyc
categorias/__pycache__/models.cpython-311.pyc
categorias/migrations/__pycache__/__init__.cpython-311.pyc
categorias/migrations/__pycache__/0001_initial.cpython-311.pyc
ethnicBites/__pycache__/__init__.cpython-311.pyc
ethnicBites/__pycache__/settings.cpython-311.pyc
ethnicBites/__pycache__/urls.cpython-311.pyc
ethnicBites/__pycache__/wsgi.cpython-311.pyc
pagos/__pycache__/__init__.cpython-311.pyc
pagos/__pycache__/admin.cpython-311.pyc
pagos/__pycache__/apps.cpython-311.pyc
pagos/__pycache__/models.cpython-311.pyc
pagos/migrations/__pycache__/__init__.cpython-311.pyc
pagos/migrations/__pycache__/0001_initial.cpython-311.pyc
pagos/migrations/__pycache__/0002_initial.cpython-311.pyc
pagos/migrations/__pycache__/0003_metododepago_nombre.cpython-311.pyc
categorias/__pycache__/__init__.cpython-311.pyc
categorias/__pycache__/admin.cpython-311.pyc
categorias/__pycache__/apps.cpython-311.pyc
categorias/__pycache__/models.cpython-311.pyc
categorias/migrations/__pycache__/__init__.cpython-311.pyc
categorias/migrations/__pycache__/0001_initial.cpython-311.pyc
ethnicBites/__pycache__/__init__.cpython-311.pyc
ethnicBites/__pycache__/settings.cpython-311.pyc
ethnicBites/__pycache__/urls.cpython-311.pyc
ethnicBites/__pycache__/wsgi.cpython-311.pyc
pagos/__pycache__/__init__.cpython-311.pyc
pagos/__pycache__/admin.cpython-311.pyc
pagos/__pycache__/apps.cpython-311.pyc
pagos/__pycache__/models.cpython-311.pyc
pagos/migrations/__pycache__/__init__.cpython-311.pyc
pagos/migrations/__pycache__/0001_initial.cpython-311.pyc
pagos/migrations/__pycache__/0002_initial.cpython-311.pyc
pagos/migrations/__pycache__/0003_metododepago_nombre.cpython-311.pyc
pedidos/__pycache__/__init__.cpython-311.pyc
pedidos/__pycache__/admin.cpython-311.pyc
pedidos/__pycache__/apps.cpython-311.pyc
pedidos/__pycache__/models.cpython-311.pyc
pedidos/migrations/__pycache__/__init__.cpython-311.pyc
pedidos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/__pycache__/models.cpython-311.pyc
productos/migrations/__pycache__/__init__.cpython-311.pyc
productos/migrations/__pycache__/0001_initial.cpython-311.pyc
productos/migrations/__pycache__/0002_alter_producto_stock.cpython-311.pyc
productos/migrations/__pycache__/0003_producto_imagen.cpython-311.pyc
usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/__pycache__/admin.cpython-311.pyc
usuarios/__pycache__/apps.cpython-311.pyc
usuarios/__pycache__/forms.cpython-311.pyc
usuarios/__pycache__/models.cpython-311.pyc
usuarios/__pycache__/urls.cpython-311.pyc
usuarios/__pycache__/views.cpython-311.pyc
usuarios/migrations/__pycache__/__init__.cpython-311.pyc
usuarios/migrations/__pycache__/0001_initial.cpython-311.pyc
usuarios/migrations/__pycache__/0002_direccion_customuser_iddireccion.cpython-311.pyc
usuarios/migrations/__pycache__/0003_direccion_calle_direccion_ciudad_and_more.cpython-311.pyc
usuarios/migrations/__pycache__/0004_alter_direccion_codigopostal_and_more.cpython-311.pyc
carrito/__pycache__/__init__.cpython-311.pyc
carrito/__pycache__/admin.cpython-311.pyc
carrito/__pycache__/apps.cpython-311.pyc
carrito/__pycache__/models.cpython-311.pyc
carrito/migrations/__pycache__/__init__.cpython-311.pyc
carrito/migrations/__pycache__/0001_initial.cpython-311.pyc
