.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-form {
    background-color: #c72546;;
    color: white;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.address-form h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20PX;
}

.saved-addresses {
    background-color: #c72546;;
    color: white;
    width: 80%;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.saved-addresses h1{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.address-form button {
    display: block; 
    margin: 0 auto; 
}

.address-form button {
    border-radius: 10px !important;
    background-color: #9DAB72 !important;
    color: #ffffff !important;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.address-form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 5px;
}

.header-container h1 {
    margin: 0;
    line-height: 0.5; 
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.header-container {
    margin-top: 10px;
    margin-bottom: 20px;
}


.form-group {
    width: 100%;
}

.card-body {
    color: #000; 
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.card-text {
    font-size: 16px; 
}

.ethnic{
    background-color: #d5ca98;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }

  .box {
    display: flex;
    margin-top: 1em;
    color: white;
    margin-bottom: 1em;
    }
    
  .one {
    flex: 0 auto;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    background-color: #c72546;
    text-align: center;  
  }
    
.two {
    flex: 1;
    padding: 1em;
    margin-right: 1em;
    background-color: #c72546;
}

.menu-index{
    margin-top: 1em;
}

.product-category-button{
    background-color: transparent !important;
    color:white !important;
    text-align: left !important;
}
  
.menu-products{
    margin-top: 1em;
}
  
.menu-text{
    font-weight: bolder;
}

.box-direccion{
    background-color: white;
    color: #000;
    margin-top: 1em;
    border-radius: 1em;
}
  