.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.form-container {
    background-color: #9D213A;
    color: white;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding-top: 1em;
    height: min-content;
    justify-content: flex-start;
    text-align: center;
    margin-top: 4.5vw;
    margin-bottom: 2vw;
}

.ethnic-form{
    margin-top: 1rem;
}

.form-container input,
.form-container textarea,
.form-container label,
.form-container select {
    width: 100%;
    box-sizing: 60px;
    font-size: 25px;
    margin-bottom: 30px;
}

.form-container button {
    margin: 0px 2px;
    border-radius: 20px !important;
    background-color: #9DAB72 !important;
    color: #ffffff !important;
    border-color: #9DAB72 !important;
    width: 150px; 
    height: 50px;
    display: block; 
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    padding: 20px; 
    height: 103%;
    padding-top: 2.2em;
}

.image-container img {
    width: 245px;
    padding-top: 1em;
}

.ethnic{
    background-color: #d5ca98;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }