{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'css/index_productos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="ethnic">
    <main>
       
        <section class="box">
                <div class="one">
                    Menú
                    <div class="list-group menu-products">
                        <button type="button" class="list-group-item list-group-item-action product-category-button" aria-current="true">
                          Inicio
                        </button>
                        <button type="button" class="list-group-item list-group-item-action active product-category-button-active">Alimentos</button>
                        <button type="button" class="list-group-item list-group-item-action product-category-button">Kits de comida</button>
                        <button type="button" class="list-group-item list-group-item-action product-category-button">Ingredientes</button>
                        <button type="button" class="list-group-item list-group-item-action product-category-button">Carrito</button>
                        <button type="button" class="list-group-item list-group-item-action product-category-button">Direcciones</button>
                      </div>
                </div>
                <div class="two">

                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-6">
                          <div class="form">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control form-input" placeholder="Busca en Ethnic Bites...">
                          </div>
                        </div>
                    </div>
                    Filtrar
                    <br> <br>

                    <div class="filter-buttons-group">
                    <button class="btn btn-primary btn-filter" type="submit">
                        <div>
                        <img class="btn-image" src="{% static 'imgs/icons_filters/italiana.png' %}">
                        <h2 class="filter-button-text">Italiana</h2>
                    </div>
                    </button>

                    <button class="btn btn-primary btn-filter" type="submit">
                        <img class="btn-image" src="{% static 'imgs/icons_filters/mexicana.png' %}">
                        <h2 class="filter-button-text">Mexicana</h2>
                    </button>

                    <button class="btn btn-primary btn-filter" type="submit">
                        <img class="btn-image" src="{% static 'imgs/icons_filters/japonesa.png' %}">
                        <h2 class="filter-button-text">Japonesa</h2>
                    </button>

                    <button class="btn btn-primary btn-filter" type="submit">
                        <img class="btn-image" src="{% static 'imgs/icons_filters/francesa.png' %}">
                        <h2 class="filter-button-text">Francesa</h2>
                    </button>
                    </div>

                    <p class="header-dishes">Platos recomendados</p>
                    
                    {% if all_products %}
                    <!--<ul>{% for p in all_products %}  <li><p>{{p.nombre}}</p></li>{% endfor %}</ul>-->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for p in all_products %}
                        <div class="col">
                            <a href="{{p.id}}">
                            <div class="card h-100 card-products">
                                <div class="card-image-container">
                                <img src="{{p.imagen}}" class="card-img-top card-img-product"
                                alt="{{p.nombre}}" />
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{p.nombre}}</h5>
                                    <p class="card-text">
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small>Sushi House</small>
                                </div>
                            </div>
                        </a>
                        </div>

                    {% endfor %}
                </div>
                    {% else %}
                    <p>No hay productos disponibles por el momento</p>
                    {% endif %}
  

                </div>
               
      
        </section>
    
    </main>
</body>
</html>
{% endblock %}
