{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <header>
        <h1>ETHNIC BITES</h1>
        <nav>
            <button>Iniciar Sesión</button>
            <button>Regístrate</button>
        </nav>
    </header>
    <aside>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Alimentos</li>
                <li>Kits de comida</li>
                <li>Ingredientes</li>
                <li>Carrito</li>
                <li>Direcciones</li>
            </ul>
        </nav>
    </aside>
    <main>
        <section class="hero">
            <h2>Experimenta la gran diversidad</h2>
            <div class="cards">
                <article>
                    <h3>Atrévete a probar nuevas cosas</h3>
                    <p>Ordena lo que gustes entre los diferentes tipos de comida.</p>
                </article>
                <article>
                    <h3>Prepara tu propia comida</h3>
                    <p>Si te gusta hacer tu propia comida, ordena tu kit personalizado.</p>
                </article>
                <article>
                    <h3>Prueba nuevos ingredientes</h3>
                    <p>Experimenta y usa nuevos ingredientes de diferentes lugares.</p>
                </article>
            </div>
        </section>
    </main>
</body>
</html>
