{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{producto.nombre}}</title>
    <link rel="stylesheet" href="{% static 'css/detalle_productos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/detalle_productos.js' %}"></script>
</head>

<body class="ethnic">
    <main>   
        <section class="box">
                <div class="bg-container">
                    <div class="card-container">
                        <div class="details-container" id="product-id" value="{{producto.id}}">
                            <div>
                                <div class="image-container">
                                    <img src="{{producto.imagen}}" class="product-image" alt="Imagen del producto "{{producto.nombre}}>
                                </div>
                                 <p>
                                    <h4>{{producto.nombre}}</h4>    
                                    <h5>{{producto.idVendedor.username}} - Precio: ${{producto.precio|floatformat:2}}</h5>     
                                    <div class="button-container"><a class="btn btn-primary ethnic-btn" href="." role="button">Regresar</a></div>
                                </p>          
                            </div>
                            <div class="description-container">
                                <p>{{producto.descripcion}}</p> 
                                <div class="button-container">            
                                    <div class="input-group plus-minus-button">
                                        <h5 class="quantity-text">Cantidad:</h5>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-danger btn-number ethnic-btn-input"  data-type="minus" data-field="quantity-btn[{{producto.id}}]">
                                                <span class="glyphicon glyphicon-minus icon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" product_id="{{producto.id}}" name="quantity-btn[{{producto.id}}]" class="form-control input-number" value="1" min="1" max="{% if producto.stock is not null %}{{producto.stock}}{% else %}10{% endif %}">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-number ethnic-btn-input" data-type="plus" data-field="quantity-btn[{{producto.id}}]">
                                                <span class="glyphicon glyphicon-plus icon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary ethnic-btn" id="btn-añadir-carrito" value=1 onclick="add_to_cart()">Agregar 1 al carrito</button>                  
                                </div>                 
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
</html>
{% endblock %}