{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalle_productos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>
    <script src="{% static 'js/detalle_productos.js' %}"></script>
</head>

<body class="ethnic">
    <main>   
        <section class="box">
                <div class="bg-container">
                    <div class="card-container">
                        <div class="details-container">
                            <div>
                                <div class="image-container">
                                    <img src="{{producto.imagen}}" class="product-image" alt="Imagen del producto "{{producto.nombre}}>
                                </div>
                                 <p>
                                    <h4>{{producto.nombre}}</h4>    
                                    <h5>El Asadero - Precio: ${{producto.precio}}</h5>     
                                    <div class="button-container"><a class="btn btn-primary ethnic-btn" href="." role="button">Regresar</a></div>
                                    
                                </p>          
                            </div>
                            <div class="description-container">
                                <p>{{producto.descripcion}}</p> 
                                <div class="button-container">
                                  
                                <button class="btn btn-primary ethnic-btn" onclick="add_to_cart()">Agregar 1 al carrito</button> 
                                                           
                            </div>                 
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
        
{% endblock %}