{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'css/index_carrito.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body class="ethnic">
    <main> 
        <section class="box">
                <div class="one">
                      <div class="card-container">
                        <div class="details-container">
                            <h1>Carrito</h1>
                            {% if cart_products %}
                            <div class="cart-products">
                                {% for p in cart_products %}
                                <div class="product-details-container">
                                    <div class="image-container">
                                        <img class="product-image" src="{{p.idProducto.imagen}}"/>
                                    </div>
                                    <div class="product-description">
                                        <p class="product-description-text">{{p.idProducto.nombre}}</p>
                                        <p class="product-description-text">Precio: ${{p.idProducto.precio}}</p>
                                        <p class="product-description-text">Cantidad: {{p.cantidad}}</p>
                                    </div>
                                    <div class="product-buttons">
                                        <button>Eliminar</button>
                                        <button>CLICK</button>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="product-details-container">
                                    <div class="image-container">
                                        <img class="product-image" src="https://srv.carbonads.net/static/30242/c40b9e0bbd3d881b8e6465baf2f101d943eb04d3"/>
                                    </div>
                                    <div class="product-description">
                                        <p class="product-description-text">Hamburguesa con queso</p>
                                        <p class="product-description-text">Precio: $120</p>
                                        <p class="product-description-text">Cantidad 1</p>
                                    </div>
                                    <div class="product-buttons">
                                        <button>Eliminar</button>
                                        <button>CLICK</button>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <p>No hay productos en el carrito</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="two">
                    <div class="card-container">
                        <div class="details-container">
                            <h1>Pago</h1>
                            <p>Selecciona tu método de pago</p>
                            
                        </div>
                    </div>

                </div>
                </section>
            </main>
        </body>
        </html>
        
        {% endblock %}