{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/vendedor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/vendedorHome.css' %}">

</head>
<body class="ethnic">
    <main> 
        <section class="box">
                <div class="one">
                  <span class="menu-text">Panel de Vendedor</span>   
                  <div class="list-group menu-index">
                    <button type="button" id="btn_vendedor_home" class="list-group-item list-group-item-action product-category-button">Inventario</button>
                    <button type="button" id="btn_crear_producto" data-url="{% url 'productos:crear' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_crear_productos()">Agregar nuevo producto</button>
                    <button type="button" id="btn_pedidos" data-url="{% url 'pedidos:pedidos' %}" class="list-group-item list-group-item-action product-category-button" onclick="go_to_pedidos()">Pedidos</button>
                  </div>
                </div>
                <div class="two">
                  {% if not listaAlimentos and not listaKits and not listaIngredientes %}
                  <pi id="errormessage">
                    No has registrado productos aún, te gustaría <a href="{% url 'productos:crear' %}">registrar uno ahora?</a>
                  </pi>
                  {% else %}
                  <div id="inventarioAlimentos">
                    <h3>Alimentos</h3>
                    {% if not listaAlimentos %}
                      <h4>No has registrado alimentos aún</h4>
                    {% else %}
                      {% for producto in listaAlimentos %}
                      <div class="card mb-3" style="max-width: 100%">
                        <div class="row g-0">
                          <div class="col-md-4 imgproductocontainer">
                            <img src="{{ producto.imagen}}" id="imgproducto" class="img-fluid rounded-start" alt="{{producto.nombre}}" {{producto.nombre}}>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title textcard">{{producto.nombre}}</h5>
                              <p class="card-text textcard">{{producto.descripcion}}</p>
                              <div>
                                <p class="card-text textcard"><small class="text-body-secondary">Precio: ${{producto.precio}}</small></p>
                                <p class="card-text textcard"><small class="text-body-secondary">Stock: {% if producto.stock is None %} No definido {% else %} {{producto.stock}} {% endif %}</small></p>
                                <a href="{% url 'usuarios:modificarproducto' producto.pk %}" class="btn btn-primary btns">Modificar</a>
                                <a href="{% url 'usuarios:deleteProduct' producto.pk %}" class="btn btn-primary btns">Eliminar</a>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                      <div id="inventarioKits">
                        <h3>Kits</h3>
                        {% if not listaKits %}
                        <h4>No has registrado kits aún</h4>
                    {% else %}
                      {% for producto in listaKits %}
                      <div class="card mb-3 h-100" style="max-width: 100%">
                        <div class="row g-0">
                          <div class="col-md-4 imgpedidocontainer">
                            <img src="{{ producto.imagen}}" id="imgproducto" class="img-fluid rounded-start" alt="{{producto.nombre}}" {{producto.nombre}}>
                          </div>
                          <div class="col-md-8 d-flex flex-column">
                            <div class="card-body" id="cardtext">
                              <h5 class="card-title textcard">{{producto.nombre}}</h5>
                              <p class="card-text textcard">{{producto.descripcion}}</p>
                              <div>
                                <p class="card-text textcard"><small class="text-body-secondary">Precio: ${{producto.precio}}</small></p>
                                <p class="card-text textcard"><small class="text-body-secondary">Stock: {% if producto.stock is None %} No definido {% else %} {{producto.stock}} {% endif %}</small></p>
                                <a href="{% url 'usuarios:modificarproducto' producto.pk %}" class="btn btn-primary btns">Modificar</a>
                                <a href="{% url 'usuarios:deleteProduct' producto.pk %}" class="btn btn-primary btns">Eliminar</a>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                      <div id="inventarioIngredientes">
                        <h3>Ingredientes</h3>
                        {% if not listaIngredientes %}
                        <h4>No has registrado ingredientes aún</h4>
                    {% else %}
                      {% for producto in listaIngredientes %}
                      <div class="card mb-3" style="max-width: 100%">
                        <div class="row g-0">
                          <div class="col-md-4 imgproductocontainer">
                            <img src="{{ producto.imagen}}" id="imgproducto" class="img-fluid rounded-start" alt="{{producto.nombre}}" {{producto.nombre}}>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title textcard">{{producto.nombre}}</h5>
                              <p class="card-text textcard">{{producto.descripcion}}</p>
                              <div>
                                <p class="card-text textcard"><small class="text-body-secondary">Precio: ${{producto.precio}}</small></p>
                                <p class="card-text textcard"><small class="text-body-secondary">Stock: {% if producto.stock is None %} No definido {% else %} {{producto.stock}} {% endif %}</small></p>
                                <a href="{% url 'usuarios:modificarproducto' producto.pk %}" class="btn btn-primary btns">Modificar</a>
                                <a href="{% url 'usuarios:deleteProduct' producto.pk %}" class="btn btn-primary btns">Eliminar</a>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                      </div>
                      </div>
                  </div>
                  {% endif %}
                </div>
        </section>
    
    </main>
</body>
</html>

{% endblock %}
